*{
    box-sizing: border-box;
    color: white;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

body{
    border:0;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: aliceblue;
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.calculator-box{    
    display: flex;
    flex-direction: column;
    border: 1px solid #3F3F41;
    width: 450px;
    height: 600px;
    border-radius: 8px;
    overflow: hidden;
    /*box-shadow:1px 1px 25px 1px #3F3F41;*/
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.logo{
    display: flex;
    flex: 1;
    width: 150px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    margin-left:10px;
    font-size: small;
}

img{
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
}

.overlay-button{
    display: flex;
    flex: calc(1/12) 1 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #202020;
    height: 100%;
}

.overlay-button:hover{
    background-color: #363636;
    cursor:default;
}

.overlay-button.close:hover{
    background-color: red;
    cursor:default;
}

.display{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.display-content{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 4rem;
    height: 100%;
    margin: 10px;
    padding-bottom: 10px;
    background-color: inherit;
}

.text{
    display: flex;
    overflow: visible;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 2;
    gap:1px;
    padding: 5px;
    background-color: #202020;

    .number,.operator,.equality{
        display: flex;
        flex: 1 1 calc(25% - 8px);
        background: #3B3B3B;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
    }
    .number:hover{
        background-color: #323232;
    }
    .operator{
        background-color: #323232;
    }
    .operator:hover{
        background-color: #3B3B3B;
    }
    .equality{
        background-color: #A6A5A1;
    }
    .equality:hover{
        background-color: #989793;
    }

}